

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.gwt-DialogBox .Caption {
	background: #F1F1F1;
	padding: 4px 8px 4px 4px;
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogContent {
	
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background: white;
}

.gwt-DialogBox .dialogBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -2945px;
	-background: url(images/hborder_ie6.png) repeat-x 0px -2144px;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: url(images/vborder.png) repeat-y -31px 0px;
}

.gwt-DialogBox .dialogMiddleRight {
	background: url(images/vborder.png) repeat-y -32px 0px;
	-background: url(images/vborder_ie6.png) repeat-y -32px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 10px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 10px;
	height: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 12px;
	height: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
	background: url(images/circles.png) no-repeat -20px 0px;
	-background: url(images/circles_ie6.png) no-repeat -20px 0px;
}

.gwt-DialogBox .dialogTopRight {
	background: url(images/circles.png) no-repeat -28px 0px;
	-background: url(images/circles_ie6.png) no-repeat -28px 0px;
}

.gwt-DialogBox .dialogBottomLeft {
	background: url(images/circles.png) no-repeat 0px -36px;
	-background: url(images/circles_ie6.png) no-repeat 0px -36px;
}

.gwt-DialogBox .dialogBottomRight {
	background: url(images/circles.png) no-repeat -8px -36px;
	-background: url(images/circles_ie6.png) no-repeat -8px -36px;
}

html>body .gwt-DialogBox {
	
}

* html .gwt-DialogBox .dialogTopLeftInner {
	width: 10px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
	width: 12px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
	width: 10px;
	height: 12px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

.cw-DialogBox {
	
}

.goBtn {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf');
	background-color: #ededed;
	-webkit-border-top-left-radius: 21px;
	-moz-border-radius-topleft: 21px;
	border-top-left-radius: 21px;
	-webkit-border-top-right-radius: 21px;
	-moz-border-radius-topright: 21px;
	border-top-right-radius: 21px;
	-webkit-border-bottom-right-radius: 21px;
	-moz-border-radius-bottomright: 21px;
	border-bottom-right-radius: 21px;
	-webkit-border-bottom-left-radius: 21px;
	-moz-border-radius-bottomleft: 21px;
	border-bottom-left-radius: 21px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	height: 48px;
	line-height: 48px;
	width: 99px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

.goBtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed');
	background-color: #dfdfdf;
}

.goBtn:active {
	position: relative;
	top: 1px;
}