<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Weiqi_2013_nyu.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>nyu.hezzze.weiqi.server.LoginServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/weiqi_2013_nyu/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoService</servlet-name>
		<servlet-class>nyu.hezzze.weiqi.server.GoServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GoService</servlet-name>
		<url-pattern>/weiqi_2013_nyu/go</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisConnectionHandler</servlet-name>
		<servlet-class>nyu.hezzze.weiqi.server.DisConnectionHandler
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisConnectionHandler</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>xsrf</servlet-name>
		<servlet-class>
			com.google.gwt.user.server.rpc.XsrfTokenServiceServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xsrf</servlet-name>
		<url-pattern>/weiqi_2013_nyu/xsrf</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>gwt.xsrf.session_cookie_name</param-name>
		<param-value>JSESSIONID</param-value>
	</context-param>


</web-app>
