<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Weiqi_2013_nyu.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>nyu.hezzze.weiqi.server.LoginServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/weiqi_2013_nyu/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoService</servlet-name>
		<servlet-class>nyu.hezzze.weiqi.server.GoServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GoService</servlet-name>
		<url-pattern>/weiqi_2013_nyu/update</url-pattern>
	</servlet-mapping>



</web-app>
